     .section {
        position: relative;
        text-align: center;
      }


    .selectMenu {

    text-align: center;

}

    .input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .watched {

    position: relative;
   
  }

    .details {

    text-align: left;
    font-size: medium;

  }


.anime-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.anime-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #wList {
    padding: 2px 16px;
  }