     .section {
        position: relative;
        text-align: center;
      }


    .selectMenu {

    text-align: center;

}

    .input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .watched {

    position: relative;
   
  }

    .details {

    text-align: left;
    text-decoration: none;
    font-size: 22px;
    color: black;

  }


.anime-list {
    background-color: rgb(122, 122, 122);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.anime-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #wList {
    padding: 2px 16px;
  }

  .anime-likes {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }